@font-face {
    font-family: 'ElmsSans';
    src: url('/fonts/ElmsSans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*, body {
    font-family: 'ElmsSans' !important;
}